.navbar-top-container {  
  .navbar {
    height: 20vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0));
    z-index: 5;
  }

  .navbar-brand {
    margin-left: 7vw;
    margin-top: 1vh;
  }

  .navbar-brand:hover {
    filter: brightness(0%);
    transition: .5s;
  }

  .navbar-collapse {
    justify-content: center;
    margin-top: 1vh;
    margin-right: 14vw;

    .nav-item {
      margin-left: 3vw;
      font-size: 22px;
      font-weight: 500;

      .nav-link {
        color: aliceblue;
      }

      .nav-icon {
        font-size: 24px;
        margin-top: -6px;
      }

      .nav-link:hover {
        color: rgb(32, 34, 36);
        transition: .5s;
      }
    }
  }
}