.gallery-container {
  margin-top: 2vw;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 0 0 calc(33.33% - 2vw);
  margin: 1vw;

  &_img {
    width: 100%;
    height: 400px;
    transition: transform .5s;
  }

  &_img:hover {
    transform: scale(1.2);
  }
}