.landing {
  background-image: url('../../../assets/images/tattoo.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.landing .button {
  font-size: 18px;
  text-decoration: none;
  color: var(--beige-dark);
  border: var(--beige-dark) 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 40vh;
}

.landing .button:hover {
  background: var(--beige-dark);
  transition: .5s;
  color: #fff;
}

.full-screen {
  height: 100vh;
}

.screen-80 {
  height: 80vh;
}

footer {
  background: var(--beige-dark);
  height: 29vh;

  .footer-container {
    height: 25vh;
    padding: 2vh 5vh 0 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .footer-place {
      color: var(--nav-white);
      font-size: 2.5vh;

      &_link {
        color: inherit;
        text-decoration:none;
      }
    }

    .footer-logo-container {
      .footer-logo {
        height: 24vh;
      }
    }

    .footer-links {
      align-items: center;
      justify-content: center;
    }

    .footer-link {
      text-decoration: none;
      font-size: 2.5vh;
      color: var(--nav-white);
    }

    .footer-link:hover {
      color: rgb(32, 34, 36);
      transition: .5s;
    }

    .footer-link-container+.footer-link-container {
      margin-top: 5vh;
    }
  }

  .footer-copyrights {
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--nav-white);
  }
}

.about {
  background: var(--beight-light);
  text-align: left;

  &_photo {
    height: 100%;
  }
}