.header-section-container {
  .header-section {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    filter: blur(3px) brightness(70%);

    &_title {
      position: static;
      user-select: none;
      font-size: 8vh;
      position: relative;
      color: var(--nav-white);
      left: 75vw;
      top: -12vh;
    }
  }
}